{% unless product.metafields.meta.instagram_feed == blank %}
  <a name="5NationSection"></a>
  <section id="5NationSection" class="fivenation-section js-fivenation-section">
    <div class="text-uppercase product-h2 t-center">
      <div class="full-underline full-underline--fivenation">5% Nation
        <div class="t-center instagram-links">
          <a href="https://www.instagram.com/explore/tags/5percentnutrition/">#5percentnutrition | </a>
          <a href="https://www.instagram.com/5percentnutrition/">@5percentnutrition</a>
        </div>
      </div>
    </div>

  {%- comment -%}
    <div class="yotpo yotpo-pictures-widget" data-gallery-id="6011df93f1b60841068964fd"></div>
  {%- endcomment -%}
  </section>
{% endunless %}