<div id="reviewSection" class="reviews-homepage-1">
  <h1 class="ProductMeta__Title product-page-title full-underline Heading u-h2 js-product-heading">
   Verified Customer Reviews
    </h1> 
<div class="yotpo yotpo-reviews-carousel" 
 data-background-color="transparent" 
 data-mode="top_rated" 
 data-type="site" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="3000" 
 data-show-navigation="1">&nbsp;
 </div>



