<!-- <script type='text/javascript' src='https://5percent-nutrition.myshopify.com/apps/wlm/js/wlm-1.1.js'></script> -->
<script type='text/javascript' src="{{ 'wlm-1.1.js' | asset_url }}" defer></script>
{% assign wlmEnabled = true %}
{% assign wlmLockON = false %}
{% assign wlmRedirectURL = '' %} 
{% assign wlmPnfHead = '' %} 
{% assign wlmPnfMsg = '' %}
{% assign wlmPwdForm = false %}
{% assign wlmPwdMsg = '' %}
{% assign wlmSuperPage = false %}

{% if template == 'customers/login' or template == 'customers/activate_account' or template == 'customers/reset_password' %}
{% assign wlmSuperPage = true %}
{% endif %}

{% if wlmEnabled %}
<style type="text/css">.wlm-message-pnf{text-align:center;}#wlm-pwd-form {padding: 30px 0;text-align: center}#wlm-wrapper,.wlm-form-holder {display: inline-block}#wlm-pwd-error {display: none;color: #fb8077;text-align: left}#wlm-pwd-error.wlm-error {border: 1px solid #fb8077}#wlm-pwd-form-button {display: inline-block!important;height: auto!important;padding: 8px 15px!important;background: #777;border-radius: 3px!important;color: #fff!important;text-decoration: none!important;vertical-align: top}.wlm-instantclick-fix,.wlm-item-selector {position: absolute;z-index: -999;display: none;height: 0;width: 0;font-size: 0;line-height: 0}</style>

{% for tag in customer.tags %}
{% if tag == 'mil' %}{% assign wlmLockedTags19347 = true %}{% endif %}
{% if tag == 'fir' %}{% assign wlmLockedTags19346 = true %}{% endif %}
{% if tag == 'bbtd' %}{% assign wlmLockedTags23718 = true %}{% endif %}
{% endfor %}

{% unless wlmLockON or wlmSuperPage or template == 'customers/register' %}
{% assign wlmLockedContent = false %}
{% if template contains 'page' and page %}
{% if page.id == 45287473231 %}{% assign wlmLockedContent = false %}{% endif %}
{% endif %}
{% if wlmLockedContent %}
{% unless customer %}
{% assign wlmLockON = true %}
{% capture wlmPnfHead %}<center>Page not found</center>{% endcapture %}
{% capture wlmPnfMsg %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture wlmRedirectURL %}/pages/secure-content{% endcapture %}
{% else %}
{% unless wlmLockedTags23718 %}{% assign wlmLockON = true %}{% endunless %}
{% if wlmLockON %}
{% capture wlmPnfHead %}<center>Page not found</center>{% endcapture %}
{% capture wlmPnfMsg %}<p>Sorry, we couldn't find this page.</p>{% endcapture %}
{% capture wlmRedirectURL %}/pages/secure-content{% endcapture %}
{% capture wlmRedirectURL %}/pages/secure-content{% endcapture %}
{% endif %}
{% endunless %}
{% endif %}
{% endunless %}


{% assign wlmHideLinks=false %}
{% endif %}

{% if wlmLockON %}<meta name='robots' content='NOINDEX,NOFOLLOW,NOARCHIVE,NOSNIPPET,NOODP,NOYDIR' />{% endif %}

<script type='text/javascript'>
  try {
    {% if wlmLockON %}
    wlm.navigate('{{ wlmRedirectURL}}');
                 {% else %}
                 wlm.navigateByLocation();
    {% endif %}
  }catch(e){}
  try{
    wlm.jq(document).ready(function(){
      wlm.removeLinks();
    });
  }catch(e){}
</script>