<style type="text/css" media="screen">
  .snize-recommendation-title {
    display: none !important;
  }

</style>

<div id="shopify-section-customers-also-bought" class="shopify-section">
  <section class="shopify-section-product-customers-also-bought" id="{{ section.id }}" data-section-type="product">

      <div class="Container">
        <h2 class="text-uppercase product-h2 t-center">
          <span class="underline-grey--notFull">Customers Also Bought</span>
        </h2>
        
        <div class="searchanise-recommendations" id="4M1Z6I5E6X7S5E8"></div>
<!-- New Products You Might Like  
        <h2 class="text-uppercase product-h2 t-center">
          <span class="underline-grey--notFull">Other Similar Products</span>
        </h2>
		<div class="searchanise-recommendations" id="7H2J0Z1A6L2N0B3"></div>
      </div>
 END -->
    
  </section>
</div>



