<section class="product-description-section js-product-description-section" id="descriptionSection">
 
  <div class="container">
           
      <h3 class="full-underline">Description</h3>
        <div class="product-description-text-container">
              
                {{product.metafields.shogun.above}}

          			{{ product.description }}
          	
                {{product.metafields.shogun.below}}

        <div class="g-read-more">+ Read More</div>
     </div>
  	</div>
 
</section>