{% render 'shogun-products', content: page %}

<header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
    <h1 style="color:#fff;" class="text-uppercase product-h2 js-reviews-heading t-lef SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
</header>

<div class="Container"><br/>
   {{ page.content }}

  <div
     class="yotpo yotpo-pictures-widget"
     data-gallery-id="5c50d3e0211f940012382665">
</div>
</div>

