
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
<h1 style="color:#fff;" class="text-uppercase product-h2 js-reviews-heading t-lef SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>
   {% section'Athletes' %}


<header class="PageHeader retail-bottom">
<div class="SectionHeader SectionHeader--center">
      <h2 class="retail-title SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">BECOME A SPONSORED TEAM MEMBER</h2>
      <div align="center">
      <a href="https://5percent-nutrition.myshopify.com/pages/become-an-athlete" class="apply-now-button CollectionItem__Link ProductForm__AddToCart">APPLY NOW</a>
      </div>
 </div>
</header>




<style>

.retail-title {
  @include font-family("AcuminProBold");
  @include font-size(16);
  line-height: 20px;
  font-weight:bold;
  color:#fff;

}

.retail-note {
  margin-top:25px;
  margin-bottom:25px;
}
.retail-bottom { background:#131111; margin-bottom:-120px;}
  

</style>