{% include 'shogun-products', content: page %}
<header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
    <h1 class="header-all-f text-uppercase product-h2 js-reviews-heading t-lef SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
</header>

<div class="Container retail-note">
   {{ page.content }}
    <!-- Start Stockist.co widget -->
<div data-stockist-widget-tag="u3410">Loading store locator
from <a href="#">Stockist store locator</a>...</div>
<script>
  (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
  k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
  })(document,'script','//stockist.co/embed/v1/widget.min.js');
</script>
<!-- End Stockist.co widget -->
</div>

<header class="PageHeader retail-bottom">
<div class="SectionHeader SectionHeader--center">
      <h2 class="retail-title SectionHeader__Heading SectionHeader__Heading--emphasize Heading u-h1">BECOME A RETAIL PARTNER</h2>
      <div align="center">
      <a href="https://5percent-nutrition.myshopify.com/pages/retail-inquiry" class="apply-now-button CollectionItem__Link ProductForm__AddToCart">APPLY NOW</a>
      </div>
 </div>
</header>




<style>

.retail-title {
  @include font-family("AcuminProBold");
  @include font-size(16);
  line-height: 20px;
  font-weight:bold;
  color:#fff;

}

.retail-note {
  margin-top:25px;
  margin-bottom:25px;
}
.retail-bottom { background:#131111; margin-bottom:-120px;}
  

</style>
