{% include 'shogun-products', content: page %}

  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
    <h1 style="color:#fff;" class="text-uppercase product-h2 js-reviews-heading t-lef SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

<div class="Container"><br/>
  <!-- Bold: Memberships (page) -->
  {% include 'bold_mem_helper' with 'page' %}
  <!-- end Bold code -->
   {{ page.content }}
  
  
{% for link in linklists[settings.blog_linklist].links %}
  {% assign blog_handle = link.object.handle %}
  {% for article in link.object.articles | limit: 5%}
    {% include 'article-loop' with article %}
  {% endfor %}
{% endfor %}
  
  
</div>
